<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.kcl.teamraccoon.sungka" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".GameBoardActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppFullScreenTheme">
        </activity>

        <provider
            android:name=".data.StatisticsProvider"
            android:authorities="@string/content_authority"
            android:exported="false" />

        <activity
            android:name=".highscores.HighScoresActivity"
            android:label="@string/high_scores"
            android:configChanges="orientation|screenSize"
            android:theme="@style/HighScoresFullScreenTheme"
            android:screenOrientation="landscape"
            android:parentActivityName=".MainMenu" >
        </activity>
        <activity
            android:name=".MainMenu"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppFullScreenTheme"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MultiplayerMenu"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppFullScreenTheme"
            android:parentActivityName=".MainMenu" >
        </activity>
    </application>

</manifest>
